@font-face {
    font-family: "InterRegular";
    src: url("Inter-Regular.otf");
}

@font-face {
    font-family: "InterMedium";
    src: url("Inter-Medium.otf");
}

@font-face {
    font-family: "InterSemiBold";
    src: url("Inter-SemiBold.otf");
}

@font-face {
    font-family: "InterBold";
    src: url("Inter-Bold.otf");
}

@font-face {
    font-family: "InterExtraBold";
    src: url("Inter-ExtraBold.otf");
}

@font-face {
    font-family: "InterBlack";
    src: url("Inter-Black.otf");
}

body {
    margin: 0%;
    padding: 0%;
    background-color: #fffefc;
    color: #111111;
}

i {
    color: #111111;
    margin-right: 0.44rem;
}

nav {
    margin: 0%;
    padding: 1.2rem 4rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: aqua;
    align-items: center;
}

.logo p{
    font-family: InterBold;
    font-size: 1.06rem;
    color: #111111;
}

.logo i{
    margin-right: 0.46rem;
}

.product-nav-info, .login-signup-nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.login-btn {
    color: #fffefc;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.4rem;
    background-color: #111111;
    font-size: 0.96rem;
}

nav p, nav a {
    font-family: InterSemiBold;
    color: #111111;
    font-size: 0.96rem;
    letter-spacing: -0.01rem;
    padding: 0rem 0.8rem;
    text-decoration: none;
    cursor: pointer;
}

nav a:hover {
    padding: 0rem 0.44rem;
    background-color: #f9f5f1;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    border-radius: 0.4rem;
}

nav ul{
    list-style-type: none;
}

main {
    padding: 4rem 15rem 2.6rem 15rem;
}

.main-text h1{
    font-family: InterBold;
    font-size: 3.8rem;
    margin: 0%;
    letter-spacing: -0.06rem;
    padding-bottom: 0.16rem;
}

.support-main-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.support-main-text p{
    font-family: InterSemiBold;
    font-size: 1.4rem;
    letter-spacing: -.01rem;
    margin: 0%;
}

.support-main-text input {
    padding: 0.4rem 0.6rem;
    font-family: InterMedium;
    border-width: 0.14rem;
    border-radius: 0.26rem;
    color: #111111;
    margin-right: 0.2rem;
    letter-spacing: 0.01rem;
    width: 100%;
}

.support-main-text button {
    display: flex;
    padding: 0.4rem 0.6rem;
    background-color: #111111;
    font-family: InterBold;
    border-width: 0.14rem;
    border-radius: 0.26rem;
    letter-spacing: 0.04rem;
    color: #fffefc;
}

.main-illustration img{
    width: 100%;
}

.main-texts {
    display: flex;
    justify-content: space-between;
    padding: 3.5rem 0rem;
    margin: 0%;
}

.input-btn {
    display: flex;
}

::placeholder {
    color:#111111;
    font-size: 0.84rem;
}

.section1 {
    width: 175;
    height: 550px;
    margin: 0rem 4.2rem 0rem 4.4rem;
    background-color: #f9f5f1;
    border-radius: 12px;
    box-shadow: rgba(131, 131, 141, 0.1) 0px 1px 1px 0px;
}

.section1-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0%;
    padding: 2.2rem 11rem 2.2rem 11rem;
    color: #111111;
}

.section1-text p{
    font-family: InterSemiBold;
    margin: 0%;
    cursor: pointer;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
}

.section1-text p:hover, .section1-text p:active {
    background-color: #e9e7e3;
    border-radius: 0.4rem;
}

.section1-browser {
    background-color: #fffefc;
    margin: 0rem 11rem;
    height: 74%;
    border-radius: 14px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.section-title-and-number-container {
    display: flex;
    justify-content: center;
}

.section-title {
    font-family: InterBold;
    font-size: 2.6rem;
    text-align: center;
    margin-top: 4.2rem;
    margin-left: 1rem;
}

.section-number {
    font-family: InterBold;
    font-size: 2 rem;
    text-align: start;
    padding-top: 2rem;
}

.section2, .section3, .section4 {
    margin: 0%;
    padding: 4rem 15rem;
}

.section-p {
    font-family: InterMedium;
    color: #111111;
    font-size: 1.3rem;
    width: 64%;
    line-height: 1.8rem;
}

.section-image {
    width: 24%;
}

.section-p-and-image {
    display: flex;
    justify-content: space-between;
}

.section2-community, .section3-community, .section4-community {
    background-color: white;
    box-shadow: rgba(131, 131, 141, 0.08) 0px 6px 24px 0px;
    border-radius: 10px;
    padding: 8rem;
    margin: 2rem 0rem 0rem 0rem;
}

.section2-community, .section4-community {
    width: 47%;
}

.section3-community {
    padding: 5.4rem;
}

.section-hr {
    margin: 6rem 15rem;
    height: 1.8px;
    border: 0; 
    border-top: 1.8px solid #e5e4e2;
}

.section5-title{
    text-align: center;
    margin-top: 5rem
}

.section5-title h1, .section6 h1{
    font-family: InterBold;
    font-size: 2.4rem;
    letter-spacing: ;
    margin: 0%;
    text-align: center;
}

.section5-title p{
    font-family: InterSemiBold;
    color: #111111;
    font-size: 1rem;
    margin: 0.8rem 0rem 0rem 0rem;
}

.plans {
    display: flex;
    justify-content: center;
    margin: 4.6rem 15rem;
}

.plan {
    width: 28%;
    margin: 0rem 0.6rem;
    border: 2px solid #e5e4e2;
    border-radius: 10px;
    padding: 1.2rem;
}

.personal-plan img{
    width: 1%;
}

.plan img{
    width: 18%;
}

.plan-hr {
    height: 1.8px;
    border: 0; 
    border-top: 1.8px solid #e5e4e2;
    width: 100%;
    margin: 1rem 0rem 0rem 0rem;
}

#pro-plan-image {
    width: 22%;
    padding-top: 0.16rem;
}

.plan p{
    font-family: InterMedium;
    font-size: 0.92rem;
    margin: 0%;
}

.plan h2{
    font-family: InterBold;
    margin: 0%;
    padding: 0.8rem 0rem 0.4rem 0rem;
}

.plan-pricing i{
    color: #111111;
}

.plan-pricing p{
    margin: 0%;
}

.plan h3{
    font-family: InterBold;
    font-size: 1.8rem;
    margin: 0%;
    padding: 0.8rem 0rem 0.2rem 0rem;
}

.plan h4{
    margin: 0%;
    font-family: InterSemiBold;
    padding: 0.2rem 0rem 0.5rem 0rem;
    font-size: .9rem
}

.plan button{
    background-color: #111111;
    font-family: InterSemiBold;
    color: #fffefc;
    padding: 0.44rem 0.88rem;
    border-radius: 6px;
    margin: 0.8rem 0rem;
    cursor: pointer;
    transition: background-color 0.8s;
}

.plan button:hover {
    background-color: #fffefc;
    color: #111111;
}

.plan-perks {
    padding: 0.1rem 0rem;
}

.section6 {
    text-align: center;
    font-family: InterSemiBold;
}

.section6 h1 {
    letter-spacing: 0.16rem;
    padding: 0rem 0rem 3rem 0rem;
    margin: 0%;
}

.section6 p{
    margin: 0%;
}

.questions {
    display: flex;
    flex-direction: column;
}

.question-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0rem 15rem;
    justify-content: space-between;
    cursor: pointer;
}

.q-a-hr {
    height: 1.8px;
    border: 0; 
    border-top: 1.8px solid #e5e4e2;
    margin: 1.8rem 15rem;
}

.fa-chevron-down {
    padding-left: 0.3rem;
    cursor: pointer;
}

.section7-container {
    display: flex;
    flex-direction: row;
    margin: 5.2rem 4rem 0rem 4rem;
    justify-content: space-between;
    color: #111111;
}

.section7 h1{
    font-family: InterBold;
    margin: 5rem 0rem 0rem 0rem;
    font-size: 1.2rem;
    padding: 5rem 0rem 0rem 1rem;
}

.section7 h2{
    font-family: InterSemiBold;
    margin: 0%;
    padding: 0rem 0rem 0.6rem 0rem;
    font-size: 1.1rem;
}

.section7 p{
    font-family: InterRegular;
    cursor: pointer;
    font-size: 0.92rem;
    margin: 0%;
    padding: 0.4rem 0rem;
}

.section7 p:hover {
    font-family: InterSemiBold;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 0%;
    padding: 0rem 4rem 2rem 4rem;
    text-align: center;
    font-size: 0.96rem;
    align-items: center;
    font-family: InterMedium;
    color: #111111;
}

.fa-brands {
    margin: 0%;
    padding-left: 0.8rem;
    cursor: pointer;
}

.fa-chevron-down {
    padding-right: 0.4rem;
}

#hr-footer {
    margin: 5rem 4rem 2rem 4rem;
}

.languge-cookies-footer {
    display: flex;
}

footer p{
    margin: 0%;
    letter-spacing: 0.02rem;
}

higyijg